#principal{
    width: 800px;
    margin: auto;
    background-color: grey;
}
h1{
    color: purple;
    text-align: center;
    text-shadow: 0 0 10px;
}
h2{
    color: lightblue;
    text-align: center;
}
div img{
    display: flex;
    margin: 0 auto;
}