#principal{
    width: 1000px;
    margin: auto;
    background-color: #97e7dd;
}
h1{
    color: rgb(0, 255, 21);
    text-align: center;
}
h2{
    color: rgb(255, 0, 0);
    text-align: center;
}
div img{
    display: flex;
    margin: 0 auto;
}