#principal{
    width: 850px;
    margin: auto;
    background-color: #cccccc;
}
h1{
    color: rgb(255, 0, 183);
    text-align: center;
}
h2{
    color: rgb(3, 138, 12);
    text-align: center;
}
div img{
    display: flex;
    margin: 0 auto;
}