#principal{
    width: 800px;
    margin: auto;
    background-color: #f8e6e6;
}
h1{
    color: rgb(33, 202, 123);
    text-align: center;
}
h2{
    color: rgb(206, 23, 197);
    text-align: center;
}
div img{
    display: flex;
    margin: 0 auto;
}